body {
    font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Arial, PingFang SC, Hiragino Sans GB, Microsoft YaHei, sans-serif!important;
    background-image: url(https://cn.bing.com/th?id=OHR.MackenzieRiver_ZH-CN0214805768_1920x1080.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


/* 隐藏 */

.m-contact,
.m-nav,
#m-title {
    display: none;
}


/* 导航 */

.nav {
    height: 5rem;
    padding: 0 2rem;
    font-size: 1.3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav .logo,
.nav_c a {
    border-radius: 10rem;
    padding: .5rem 1.5rem;
    transition: .2s ease-in-out;
}

.nav .logo:hover,
.nav_c a:hover {
    background-color: rgba(170, 170, 170, 0.5);
}


/* 导航logo */

.nav .logo {
    display: flex;
    font-size: 1.8rem;
    font-weight: bold;
    letter-spacing: 5px;
}

.nav .logo i {
    margin: 2px 8px 0 0;
    font-size: 1.5rem;
}

.m-nav {
    display: none;
    justify-content: space-between;
}

.m-nav a {
    display: none;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    font-size: 1.3rem;
    border-radius: 10px;
    transition: .3s;
    margin: 5px;
}

.m-nav a:hover {
    background-color: rgba(0, 0, 0, 0.4);
}

.m-nav_c {
    display: none;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 999;
}

.m-left {
    position: absolute;
    padding: 20px 10px;
    width: 230px;
    left: -230px;
    background-color: rgb(255, 255, 255);
    height: 100vh;
}

.m-left a {
    display: block;
    color: #555;
    height: 100%;
    line-height: 2rem;
    padding: 10px 0 10px 15px;
    -webkit-tap-highlight-color: transparent;
}

.m-left li {
    overflow: hidden;
    width: 100%;
    border-radius: 10px;
    margin: 10px 0;
}

.m-left a:hover {
    background-color: rgba(111, 111, 111, 0.3);
}

.m-left a:active {
    background-color: #1f2937 !important;
    color: white;
}

.m-right {
    flex: 1;
    height: 100vh;
}


/* 关于我按钮 */

.about {
    background-color: rgb(34, 179, 204, .5);
}

.about:hover {
    transition: .5s;
    background-color: rgba(0, 217, 255, 0.7) !important;
}


/* 主体 */

.main {
    display: flex;
    height: 75vh;
    justify-content: center;
    flex-direction: column;
    padding-left: 10%;
}

#title {
    cursor: pointer;
}

#title span {
    margin: 0;
    font-size: 5rem;
    display: inline-block;
    animation: 5s flip infinite;
    animation-delay: var(--delay);
}

#text {
    width: 70%;
    cursor: pointer;
    margin: 2rem 0 3rem 0;
    font-size: 3.5rem;
    letter-spacing: .5rem;
}

#text::after {
    content: '|';
    animation: blink 1s infinite;
}

.qqtx {
    width: 7rem;
    height: 7rem;
    margin: auto;
    overflow: hidden;
    box-shadow: 0 0 0 .35rem rgba(255, 255, 255, 0.8);
    border-radius: 50%;
}

.qqtx img {
    transition: 1s;
    width: 100%;
}

.qqtx:hover img {
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}

#m-title span {
    margin: .5rem 0 0 .5rem;
    display: block;
    font-size: 2.5rem;
    letter-spacing: .3rem;
}


/* 联系按钮开始 */

.contact {
    display: flex;
}

.contact a {
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    margin-right: 3rem;
    height: 3rem;
    padding: .5rem 2rem;
    border-radius: 5rem;
    animation: big 2s linear infinite;
    background-color: rgba(0, 0, 0, 0.3);
    transition: .3s;
}

svg {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: .5rem;
}

.contact a:hover {
    background-color: rgba(0, 0, 0, 0.5);
}


/* 关于 */

.about_body {
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 50%;
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 1rem .5rem rgba(0, 0, 0, 0.3);
    padding: 3rem;
    margin: 3% auto 2% auto;
}

.page-sub {
    font-size: 1.3rem;
}

.content {
    border: 2px dotted #555;
    width: 80%;
    margin: 1rem;
}

.c_title {
    box-sizing: border-box;
    border-bottom: 2px dotted #555;
    text-align: left;
    width: 100%;
    padding: .5rem 1.5rem;
    font-size: 1.3rem;
    line-height: 1.5rem;
    letter-spacing: .3rem;
}

.c_content {
    line-height: 1.6rem;
    text-align: left;
    margin: .5rem 0 1rem 2rem;
}

.m-contact {
    display: none;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.m-contact a {
    margin-top: 1rem;
    font-size: 1.1rem;
    border-radius: .6rem;
    padding: .5rem 1rem;
    display: flex;
    align-items: center;
    animation: big 2s linear infinite;
    background-color: rgba(0, 0, 0, 0.3);
}


/* 页脚 */

.footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    padding: 10px 0;
    font-size: 1.2rem;
    text-align: center;
}

.page-footer {
    width: 100%;
    position: relative;
    font-family: 'sans-serif';
    letter-spacing: 0.3rem;
    line-height: 2.2rem;
    color: white;
    font-size: 1.2rem;
    text-align: center;
}


/* 美化滚动条 */

::-webkit-scrollbar {
    width: 6px;
    height: 10px;
}

::-webkit-scrollbar-track {
    width: 4px;
    background: rgba(#101F1C, 0.1);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(103, 177, 247);
    background-clip: padding-box;
    /* min-height: 10px; */
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    transition: background-color .3s;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgb(140, 196, 248);
}


/* 自适应 */


/* 自适应 */


/* 自适应 */


/* 自适应 */

@media (min-width: 850px) and (max-width: 1150px) {
    .footer,
    .page-footer {
        letter-spacing: 0.1rem;
        line-height: 1.7rem;
        font-size: 1.1rem;
    }
    #title span {
        font-size: 4.5rem;
    }
    #text {
        width: 90%;
        font-size: 2.8rem;
    }
}

@media only screen and (max-width: 850px) {
    /* 隐藏 */
    .nav,
    #title,
    .contact {
        display: none;
    }
    .m-contact,
    .m-nav,
    .m-nav a {
        display: flex;
    }
    /* 显示 */
    #m-title {
        display: block;
    }
    .main {
        display: block;
        padding: 0;
        text-align: center;
        margin-top: 15%;
    }
    #text {
        width: 90%;
        margin: .5rem auto;
        font-size: 1.5rem;
        letter-spacing: .3rem;
    }
    .footer,
    .page-footer {
        letter-spacing: 0.1rem;
        line-height: 1.3rem;
        font-size: 1rem;
    }
    .about_body {
        margin-top: 12%;
        width: 90%;
        padding: 2rem 1rem 2rem 1rem;
    }
    .page-sub {
        font-size: 1.2rem;
    }
    .content {
        width: 90%;
    }
    .c_title {
        font-size: 1.1rem;
        padding-left: .5rem;
    }
}


/* 动画 */


/* 动画 */


/* 动画 */


/* 动画 */


/* 动画 */


/* 光标 */

@keyframes blink {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* 放大 */

@keyframes big {
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}


/* 旋转动画 */

@keyframes flip {
    0%,
    10% {
        transform: rotateY(0deg);
    }
    5% {
        transform: rotateY(90deg);
    }
    10%,
    100% {}
}